.input {
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0rem;
}

.input > input, .input > textarea {
    padding: 0.5rem;
    max-width: 30rem;

    font-size: 1rem;

    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(228, 228, 228);
    border-radius: 0.5rem;
    outline: 2px solid transparent;
    transition: outline 0.3s, box-shadow 0.2s;
}

.input > input:focus, .input > textarea:focus {
    border-color: transparent;
    outline: 2px solid rgb(119, 119, 255);
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.082);
}

.input > label {
    display: inline;
    padding: 0.2rem 0.2rem;
    font-size: 0.9rem;
}