.input-section {
    display: flex;
    flex-direction: column;

    margin: 0rem 0rem 1rem 0rem;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 0.4rem;
    box-sizing: border-box;

    background-color: rgb(252, 252, 252);
    box-shadow: 0rem 0rem 0.5rem 0.05rem rgba(0, 0, 0, 0.034);
}

.input-section > .heading {
    display: flex;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    transition: all 0.1s;
    outline: 1px solid transparent;
}

.input-section > .heading:hover {
    cursor: pointer;
    outline-color: rgb(233, 233, 233);
    box-shadow: 0rem 0rem 0.5rem 0.05rem rgba(0, 0, 0, 0.075);
    background-color: rgb(253, 253, 253);
    transform: scale(1.005);
}

.input-section > .heading > h3 {
    margin: 0rem;
    flex-grow: 1;
}

.input-section > .heading > .section-icon {
    margin-right: 0.5rem;
}

.input-section > .heading > .chevron {
    transition: transform 0.2s;
}

.input-section > .heading > .expanded-icon {
    transform: rotateZ(180deg);
}

.section-input {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 1rem 1rem;
}

.input-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.section-items {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    padding: 1rem 0rem;
    margin: 0;
}