.button {
    width: fit-content;
    padding: 0.5rem 1rem;

    font-size: 0.8rem;
    color: white;
    
    background-color: hsl(240, 100%, 70%);
    border: 1px solid hsl(240, 100%, 65%);
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.35rem 0.1rem rgba(0, 0, 0, 0.05);
}

.button:hover {
    cursor: pointer;
    filter: brightness(0.90);
}

.button.secondary:hover {
    filter: brightness(0.94);
}

.button.secondary {
    color: black;
    padding: 0.5rem;
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(216, 216, 216);
}

.button.secondary > img, .button.plain-circle > img {
    filter: invert(0%);
}

.button.plain-circle {
    color: black;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    box-shadow: none;
}

.button.plain-circle:hover {
    background-color: rgba(0, 0, 0, 0.052);
}

.button {
    display: flex;
    align-items: center;
}

.button-icon {
    filter: invert();
}

.button:disabled:hover {
    cursor: default;
    filter: brightness(1);
}

.button:disabled {
    opacity: 0.1;
}