.input-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.input-list-item > .item-name {
    flex: 1;

    display: flex;
    align-items: center;

    margin-right: 0.5rem;

    border: 1px solid rgb(240, 240, 240);
    border-radius: 0.5rem;
    background-color: rgb(243, 243, 243);
    filter: brightness(1);
    
    transition: filter 0.2s;
}

.input-list-item > .item-name > div {
    flex: 1;

    display: flex;
    align-items: center;

    width: 0;
    height: 100%;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.input-list-item > .item-name > div > span {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-list-item > .item-name > .button.eye {
    flex: 0;
}

.input-list-item > .item-name:hover {
    cursor: pointer;
    filter: brightness(0.95);
}
