.input-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.input-list-item > .item-name {
    flex: 1;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 0.5rem;
    background-color: rgb(243, 243, 243);
    transition: filter 0.2s;
}

.input-list-item > .item-name:hover {
    cursor: pointer;
    filter: brightness(0.95);
}