.resume-output {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    border: 1px solid rgb(206, 206, 206);
    box-shadow: 0rem 0rem 0.3rem 0.05rem rgba(0, 0, 0, 0.075);
    padding: 0rem 1rem;
    margin: 1rem;
}