.resume-output {
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 16px;

    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0rem 0rem 0.5rem 0.05rem rgba(0, 0, 0, 0.034);

    margin: 1rem;
    width: 595px;
    height: calc(99vh - 2rem);
}

.resume-output > .resume {
    
    overflow-y: scroll;
}

.resume-output > .download-btn {
    margin: 0.5rem;
    padding: 0.35rem 1rem;
}

.blue {
    color: #004aad;
}