.output-section {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-top: 1rem;
}

.output-section > .heading {
    font-size: 0.9rem;
    font-weight: bold;
}

.output-section > .section-underline {
    background-color: #004aad;
    height: 1px;
    margin: 0.5rem 0rem;
}

.output-section > .body {
    font-size: 0.7rem;
}

.output-section > .body > .section-item {
    display: flex;
}